<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/landing.css">
    <title>biblioteca.ro</title>
</head>
<body>
    <div class="container custom-max-width mb-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="./" style="font-weight: bold;">&#128366</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./about">despre noi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./login">conecteaza-te</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./register">inregistrare cititor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact">contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron p-3 p-md-5 text-white rounded" style="background-image: url('../images/Books.jpeg.webp'); background-size: cover;">
            <div class="col-md-6 px-0">
              <h1 class="display-4 font-weight-bold">biblioteca.ro</h1>
              <p class="lead my-3" style="white-space: nowrap;">"Intotdeauna mi-am imaginat <strong>Paradisul</strong> ca fiind un fel de biblioteca." - <em>Jorge Luis Borges</em></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4 class="mb-3 text-white p-2 rounded" style="background-color: #1B0E0E">important</h4>
                <p class="small mt-3">Pentru a avea acces la colectia de carti pusa la dispozitie de biblioteca noastra trebuie sa fii conectat.</p>
                <p><a class="btn btn-secondary btn-sm text-dark" href="./login" role="button" style="background-color: rgb(190, 190, 190)"><strong>conecteaza-te</strong></a></p>
            </div>

            <div class="col-md-6">
                <h4 class="mb-3 text-white p-2 rounded" style="background-color: #1B0E0E">misiunea noastra</h4>
                <p class="small mt-3">&#x2022;&nbsp;Misiunea noastră la <strong>biblioteca.ro</strong> este să aducem
                    cărților în casele cititorilor noștri, oferind acces la o vastă colecție
                    de opere literare de calitate din diverse genuri și domenii.<br><br>
                    &#x2022;&nbsp;Ne dedicăm să facilităm explorarea, descoperirea și împărtășirea
                    cunoștințelor și a poveștilor captivante, creând astfel o comunitate a pasionaților de lectură.<br><br>
                    &#x2022;&nbsp;Prin intermediul platformei noastre, dorim să transformăm lectura într-o experiență accesibilă și
                    captivantă pentru fiecare individ, contribuind astfel la dezvoltarea unei lumi mai iluminate
                    și conectate prin cuvinte.
                </p>
            </div>

            <div class="col-md-3">
                <h4 class="mb-3 text-white p-2 rounded" style="background-color: #1B0E0E">program</h4>
                <p class="small mt-3" style="line-height: 0.7;"><strong>Luni-Vineri:</strong> 10:00 - 20:00</p>
                <p class="small" style="line-height: 0.7;"><strong>Sambata:</strong> 10:00 - 16:00</p>
                <p class="small" style="line-height: 0.7;"><strong>Duminica:</strong> Inchis</p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>